USE [master]
GO
/****** Object:  Database [DoanCnpm]    Script Date: 13/11/2022 9:05:08 pm ******/
CREATE DATABASE [DoanCnpm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoanCnpm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DoanCnpm.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoanCnpm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DoanCnpm_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoanCnpm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoanCnpm]
GO
/****** Object:  Table [dbo].[ChiTietPSC]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPSC](
	[IDCTPSC] [int] IDENTITY(1,1) NOT NULL,
	[IDPSC] [int] NOT NULL,
	[IDVTPT] [int] NOT NULL,
	[IDTienCong] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietPSC] PRIMARY KEY CLUSTERED 
(
	[IDCTPSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[IDPN] [int] NOT NULL,
	[IDVTPT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [money] NOT NULL,
	[TonKho] [int] NULL,
 CONSTRAINT [PK_CTPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[IDPN] ASC,
	[IDVTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HieuXe]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HieuXe](
	[IDHieuXe] [int] IDENTITY(1,1) NOT NULL,
	[HieuXe] [nchar](20) NOT NULL,
 CONSTRAINT [PK_HieuXe] PRIMARY KEY CLUSTERED 
(
	[IDHieuXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[IDNCC] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[IDPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[ChucVu] [nvarchar](20) NULL,
	[ManHinhLoad] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[IDPN] [int] IDENTITY(1,1) NOT NULL,
	[IDTK] [int] NOT NULL,
	[IDNCC] [int] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TongSL] [int] NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[IDPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuSuaChua]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSuaChua](
	[IDPSC] [int] IDENTITY(1,1) NOT NULL,
	[IDXe] [int] NOT NULL,
	[NgaySuaChua] [date] NOT NULL,
 CONSTRAINT [PK_PhieuSuaChua] PRIMARY KEY CLUSTERED 
(
	[IDPSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[IDPTT] [int] IDENTITY(1,1) NOT NULL,
	[IDXe] [int] NOT NULL,
	[NgayThuTien] [date] NOT NULL,
	[SoTienThu] [money] NOT NULL,
 CONSTRAINT [PK_PhieuThuTien] PRIMARY KEY CLUSTERED 
(
	[IDPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanNhanVien]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNhanVien](
	[IDTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDN] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[IDNV] [int] NOT NULL,
	[IDPhanQuyen] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoanNhanVien] PRIMARY KEY CLUSTERED 
(
	[IDTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSo](
	[MaThamSo] [int] IDENTITY(1,1) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThamSo] PRIMARY KEY CLUSTERED 
(
	[MaThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinNV]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTinNV](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[CMND] [nchar](20) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [char](15) NOT NULL,
 CONSTRAINT [PK_ThongTinNV] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TienCong]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienCong](
	[IDTienCong] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](50) NOT NULL,
	[TienCong] [money] NOT NULL,
 CONSTRAINT [PK_TienCong] PRIMARY KEY CLUSTERED 
(
	[IDTienCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TiepNhanXe]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiepNhanXe](
	[IDTN] [int] IDENTITY(1,1) NOT NULL,
	[IDXe] [int] NOT NULL,
	[IDTK] [int] NOT NULL,
	[NgayTiepNhan] [date] NOT NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_TiepNhanXe] PRIMARY KEY CLUSTERED 
(
	[IDTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VTPT]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTPT](
	[IDVTPT] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_VTPT] PRIMARY KEY CLUSTERED 
(
	[IDVTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Xe]    Script Date: 13/11/2022 9:05:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[IDXe] [int] IDENTITY(1,1) NOT NULL,
	[BienSo] [nchar](20) NOT NULL,
	[IDHieuXe] [int] NOT NULL,
	[TenChuXe] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [nchar](20) NULL,
	[TienNo] [money] NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[IDXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChiTietPSC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPSC_PhieuSuaChua] FOREIGN KEY([IDPSC])
REFERENCES [dbo].[PhieuSuaChua] ([IDPSC])
GO
ALTER TABLE [dbo].[ChiTietPSC] CHECK CONSTRAINT [FK_ChiTietPSC_PhieuSuaChua]
GO
ALTER TABLE [dbo].[ChiTietPSC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPSC_TienCong] FOREIGN KEY([IDTienCong])
REFERENCES [dbo].[TienCong] ([IDTienCong])
GO
ALTER TABLE [dbo].[ChiTietPSC] CHECK CONSTRAINT [FK_ChiTietPSC_TienCong]
GO
ALTER TABLE [dbo].[ChiTietPSC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPSC_VTPT] FOREIGN KEY([IDVTPT])
REFERENCES [dbo].[VTPT] ([IDVTPT])
GO
ALTER TABLE [dbo].[ChiTietPSC] CHECK CONSTRAINT [FK_ChiTietPSC_VTPT]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([IDPN])
REFERENCES [dbo].[PhieuNhap] ([IDPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_VTPT] FOREIGN KEY([IDVTPT])
REFERENCES [dbo].[VTPT] ([IDVTPT])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_VTPT]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NhaCungCap] ([IDNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_TaiKhoanNhanVien] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TaiKhoanNhanVien] ([IDTK])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_TaiKhoanNhanVien]
GO
ALTER TABLE [dbo].[PhieuSuaChua]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSuaChua_Xe] FOREIGN KEY([IDXe])
REFERENCES [dbo].[Xe] ([IDXe])
GO
ALTER TABLE [dbo].[PhieuSuaChua] CHECK CONSTRAINT [FK_PhieuSuaChua_Xe]
GO
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuTien_Xe] FOREIGN KEY([IDXe])
REFERENCES [dbo].[Xe] ([IDXe])
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [FK_PhieuThuTien_Xe]
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanNhanVien_PhanQuyen] FOREIGN KEY([IDPhanQuyen])
REFERENCES [dbo].[PhanQuyen] ([IDPhanQuyen])
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien] CHECK CONSTRAINT [FK_TaiKhoanNhanVien_PhanQuyen]
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoanNhanVien_ThongTinNV] FOREIGN KEY([IDNV])
REFERENCES [dbo].[ThongTinNV] ([IDNV])
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien] CHECK CONSTRAINT [FK_TaiKhoanNhanVien_ThongTinNV]
GO
ALTER TABLE [dbo].[TiepNhanXe]  WITH CHECK ADD  CONSTRAINT [FK_TiepNhanXe_TaiKhoanNhanVien] FOREIGN KEY([IDTK])
REFERENCES [dbo].[TaiKhoanNhanVien] ([IDTK])
GO
ALTER TABLE [dbo].[TiepNhanXe] CHECK CONSTRAINT [FK_TiepNhanXe_TaiKhoanNhanVien]
GO
ALTER TABLE [dbo].[TiepNhanXe]  WITH CHECK ADD  CONSTRAINT [FK_TiepNhanXe_Xe] FOREIGN KEY([IDXe])
REFERENCES [dbo].[Xe] ([IDXe])
GO
ALTER TABLE [dbo].[TiepNhanXe] CHECK CONSTRAINT [FK_TiepNhanXe_Xe]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_HieuXe] FOREIGN KEY([IDHieuXe])
REFERENCES [dbo].[HieuXe] ([IDHieuXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_HieuXe]
GO
USE [master]
GO
